{% extends 'base.html' %}

{% block title %}
    Lista de Reserva
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <h4 class="mt-4 text-center">GERENCIAMENTO DE VENDAS OU RESERVAS</h4>
        <hr>

        <!-- Filtros -->
        <div class="row g-3 align-items-center bg-light p-2 rounded shadow mb-4">
            <!-- Pesquisar pelo empreendimento -->
            <div class="col-md-3">
                <label for="reservaSearch" class="form-label">Nome do Cliente ou Corretor</label>
                <form class="d-flex" action="{% url 'lista-reserva' %}">
                    <input name="reserva" id="reservaSearch" type="search" class="form-control me-2"
                           placeholder="Digite sua pesquisa..." value="{{ request.GET.reserva }}">
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <!-- Filtro de data -->
            <div class="col-md-3 text-center ">
                <label class="form-label">Datas reserva</label>
                <form class="d-flex align-items-center  justify-content-center gap-2" action="">
                    <div>
                        <input name="reserva" type="date" value="{{ request.GET.reserva}}" class="form-control">
                    </div>
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fas fa-filter"></i>
                    </button>
                </form>
            </div>

            <!-- Filtro de data -->
            <div class="col-md-3 text-center ">
                <label class="form-label">Datas reserva</label>
                <form class="d-flex align-items-center  justify-content-center gap-2" action="">

                    <div>
                        <input name="venda" type="date" value="{{ request.GET.venda }}" class="form-control">
                    </div>
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fas fa-filter"></i>
                    </button>
                </form>
            </div>
            <!-- Filtro de status
            <div class="col-md-2">
                <label for="statusFilter" class="form-label">Status Locação</label>
                <form action="">
                    <select name="is_locate" id="statusFilter" class="form-select" onchange="this.form.submit()">
                        <option value="">Todos</option>
                        <option value="True" {% if request.GET.is_locate == 'True' %}selected{% endif %}>Locado</option>
                        <option value="False" {% if request.GET.is_locate == 'False' %}selected{% endif %}>Não Locado
                        </option>
                    </select>
                </form>
            </div>-->
            <!-- Filtro de tipo -->
            <div class="col-md-2">
                <label for="typeFilter" class="form-label">RESERVAS OU VENDAS</label>
                <form action="">
                    <select name="tipo_venda" id="typeFilter" class="form-select" onchange="this.form.submit()">
                        <option value="">Status</option>
                        <option value="RESERVADO" {% if request.GET.tipo_venda == 'RESERVADO' %}selected{% endif %}>
                            Reservado
                        </option>
                        <option value="VENDIDO" {% if request.GET.tipo_venda == 'VENDIDO' %}selected{% endif %}>
                            Vendido
                        </option>
                        <option value="CANCELADA" {% if request.GET.tipo_venda == 'CANCELADA' %}selected{% endif %}>
                            Cancelada
                        </option>
                    </select>
                </form>
            </div>
            <!-- Resetar filtros -->
            <div class="col-md-1">
                <label for="idReset" class="form-label">Resetar</label>
                <a class="btn btn-danger" href="{% url 'lista-reserva' %}">
                    <i class="fas fa-window-close"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="row g-3 align-items-center bg-light p-4 rounded shadow mb-4">
            <div class="table-responsive">
                <table class="table table-striped-columns table-bordered table-sm text-center">
                    <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Loteamento</th>
                        <th scope="col">Quadra</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Corretor</th>
                        <th scope="col">Vencimento da Reserva</th>
                        <th scope="col">Data de venda</th>
                        <th scope="col">Comandos</th>
                    </tr>
                    </thead>

                    <tbody class="featurette-heading fw-normal lh-1">
                    {% for reserva in reservas %}
                        <tr>
                            <td>{{ reserva.cliente }}</td>
                            <td>{{ reserva.lote.quadra.empr.nome }}</td>
                            <td>{{ reserva.lote.quadra }}</td>
                            <td>{{ reserva.lote }}</td>
                            <td>{{ reserva.user }}</td>
                            <td>{{ reserva.dt_reserva }}</td>
                            <td>{{ reserva.dt_venda }}</td>
                            <td>
                                <div class="d-grid gap-4 d-md-block btn-sm">
                                    <a href="{% url 'renova-reserva' reserva.id %}" class="btn btn-warning">Renova
                                        Reserva</a>
                                    <a href="{% url 'criar-venda' reserva.id %}" class="btn btn-success">Confirmar
                                        Venda</a>
                                    <a href="{% url 'delete-reservado' reserva.id %}" class="btn btn-danger">Excluir
                                        Reseva</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
