{% extends 'base.html' %}

{% block title %}
    Lista de Vendas
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <h4 class="mt-4 text-center">LISTA DE VENDAS</h4>
        <hr>

        <!-- Filtros -->
        <div class="row g-3 align-items-center bg-light p-2 rounded shadow mb-4">
            <!-- Pesquisar pelo empreendimento -->
            <div class="col-md-6">
                <label for="vendaSearch" class="form-label"></label>
                <form class="d-flex" action="{% url 'lista-venda' %}">
                    <input name="venda" id="vendaSearch" type="search" class="form-control me-2"
                           placeholder="Digite sua pesquisa..." value="{{ request.GET.venda }}">
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <!-- Filtro de tipo -->
            <div class="col-md-5">
                <label for="typeFilter" class="form-label"></label>
                <form action="">
                    <select name="tipo_venda" id="typeFilter" class="form-select" onchange="this.form.submit()">
                        <option value="">Status</option>
                        <option value="VENDIDO" {% if request.GET.tipo_venda == 'VENDIDO' %}selected{% endif %}>
                            Vendido
                        </option>
                        <option value="CANCELADA" {% if request.GET.tipo_venda == 'CANCELADA' %}selected{% endif %}>
                            Cancelada
                        </option>
                    </select>
                </form>
            </div>
            <!-- Resetar filtros -->
            <div class="col-md-1">
                <label for="idReset" class="form-label">Resetar</label>
                <a class="btn btn-danger" href="{% url 'lista-venda' %}">
                    <i class="fas fa-window-close"></i>
                </a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Contato</th>
                <th scope="col">Loteamento</th>
                <th scope="col">Quadra</th>
                <th scope="col">Lote</th>
                <th scope="col">Corretor</th>
            </tr>
            </thead>

            <tbody class="featurette-heading fw-normal lh-1">
            {% for venda in vendas %}
                <tr>
                    <td>{{ venda.cliente }}</td>
                    <td>{{ venda.cliente.fone }}</td>
                    <td>{{ venda.lote.quadra.empr.nome }}</td>
                    <td>{{ venda.lote.quadra }}</td>
                    <td>{{ venda.lote }}</td>
                    <td>{{ venda.user }}</td>
                    <td>
                        <a href="{% url 'reservado' venda.id %}" class="btn btn-primary">Detalhe Venda</a>
                        <a href="{% url 'delete-venda' venda.id %}" class="btn btn-danger">Excluir Venda</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
