{% load static %}
<nav class="navbar p-3" style="background-color: rgb(3, 107, 145);">
    <div class="container-fluid">
        <a href="/empreendimentos/" class="navbar-brand">
            <img src="{% static 'images/logo_carlos_e_celso.png' %}" alt="logo_carlos_e_celso"
                 style="width: 100px; height: 55px;">
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ user.username }}</h5>


                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="btn-group" role="group">
                {% if user.is_authenticated %}

                    <form class="dropdown-item" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger w-100 mt-3">SAIR</button>

                    </form>

                {% else %}

                    <a class="dropdown-item" href="{% url 'login' %}">
                        <button type="button" class="btn btn-primary w-100 mt-3">Entrar</button>
                    </a>

                {% endif %}
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% csrf_token %}


                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Listagem
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'lista-cliente' %}">Clientes</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item"
                                   href="{% url 'lista-empreendimento-tabela' %}">Empreendimentos</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="{% url 'lista-reserva' %}">Reservas</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="{% url 'lista-usuario' %}">Usuarios</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="{% url 'lista-venda' %}">Vendas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Cadastro
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'criar-cliente' %}">Clientes</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'criar-empreendimento' %}">
                                    Empreendimentos

                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'criar-cadastro' %}">
                                    Usuarios

                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

        </div>
    </div>


</nav>
