{% load static %}
<nav class="navbar navbar-expand-lg navbar-light p-4">
    <div class="container-fluid">
        <!-- Logo -->
        <a href="/empreendimentos/" class="navbar-brand">
            <img src="{% static 'images/logo_carlos_e_celso.jpg' %}" alt="logo_carlos_e_celso"
                 class="img-fluid" style="width: 100px; height: 55px;">
        </a>

        <!-- Toggler Button para Responsividade -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navegação -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto list-unstyled">
                <!-- Exibir nome do usuário se logado -->
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="navbar-text mx-auto text-black me-3">
                            <span> Bem-vindo,  </span>
                            <span class="fw-bold">
                             {{ user.first_name }}
                            </span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="navbar-text mx-auto text-black me-3 px-4 py-2 ">
                            <form action="{% url 'logout' %}" method="GET">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger rounded-pill"
                                        style="border: 2px solid rgb(3, 107, 145); transition: all 0.3s ease;">
                                    <strong>Sair</strong>
                                </button>
                            </form>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <div class="navbar-text mx-auto text-black me-3">
                            <a class="nav-link" href="{% url 'login' %}">
                                <button class="btn btn-light px-4 py-2 rounded-pill"
                                        style="border: 2px solid rgb(3, 107, 145); transition: all 0.3s ease;">
                                    <strong>Entrar</strong>
                                </button>
                            </a>
                        </div>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <!-- Menu de Navegação -->
                    <li class="nav-item dropdown">
                        <div class="navbar-text mx-auto text-black me-3">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Listagem
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'lista-cliente-relatorio' %}">Clientes</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'lista-venda-relatorio' %}">Vendas</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <div class="navbar-text mx-auto text-black me-3">
                            <a class="nav-link dropdown-toggle text-black" href="#" role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Gerenciamento
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'lista-cliente' %}">Gerenciar Clientes</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'lista-empreendimento-tabela' %}">Gerenciar
                                    Empreendimentos</a></li>
                                <li><a class="dropdown-item" href="{% url 'lista-pre-reserva' %}">Gerenciar Pre-Reserva</a></li>
                                <li><a class="dropdown-item" href="{% url 'lista-reserva' %}">Gerenciar Reserva</a></li>
                                <li><a class="dropdown-item" href="{% url 'lista-venda' %}">Gerenciar Venda</a></li>
                                <li><a class="dropdown-item" href="{% url 'lista-usuario' %}">Gerenciar Usuários</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
