{% extends 'base.html' %}

{% block title %}
  LISTA
{% endblock %}

{% block content %}
  <div class="container my-auto mb-md-5 mt-md-4 pb-5">
    <div class="card shadow-sm">
      <div class="container-fluid">
        <div class="card-header pt-5 pb-5" style="background-color: rgb(3, 107, 145);"></div>

        <div class="card-body">
          <div class="card_servico">

                <h1 class="text-center">Página não encontrada.</h1>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
