{% extends 'base.html' %}

{% block title %}
    Cadastrar Reserva
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg">
                    <div class="card-header text-white text-center" style="background-color: rgb(3, 107, 145);">
                        <h3 class="mb-0 display-5 ">Detalhes da Pre-Reserva</h3> <!-- Fonte grande e proporcional -->
                    </div>
                    <div class="card-body">
                        <!-- Informações do Empreendimento e Quadra -->
                        <div class="row mb-4 d-flex align-items-center justify-content-center text-center"
                             style="min-height: 200px;">
                            <div class="col-md-6 d-flex justify-content-center align-items-center">
                                {% if lote.quadra.empr.logo %}
                                    <div class="image-container">
                                        <img src="{{ lote.quadra.empr.logo.url }}"
                                             alt="Logo de {{ lote.quadra.empr }}"
                                             class="img-fluid"
                                             style="max-height: 150px;">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                                <p class="fw-bold text-primary fs-4 mb-1">Empreendimento:</p>
                                <p class="fs-5 mb-0">{{ lote.quadra.empr.nome }}</p>
                            </div>
                        </div>

                        <hr class="my-4"/>

                        <!-- Informações do Lote -->
                        <div class="row mb-4 text-center">
                            <div class="col-md-4">
                                <p class="fw-bold text-primary fs-4 mb-1">Quadra:</p>
                                <p class="fs-5 mb-0">{{ lote.quadra.namequadra }}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="fw-bold text-primary fs-4 mb-1">Lote:</p>
                                <p class="fs-5 mb-0">{{ lote.lote }}</p>
                            </div>
                            <div class="col-md-4">
                                <p class="fw-bold text-primary fs-4 mb-1">Vencimento:</p>
                                <p class="fs-5 mb-0">{{ lote.data_termina_reserva }}</p>
                            </div>
                        </div>

                        <hr class="my-4"/>

                        <!-- Informações do Corretor Responsável -->
                        <div class="row text-center">
                            <div class="col-md-6">
                                <p class="fw-bold text-primary fs-4 mb-1">Corretor:</p>
                                <p class="fs-5 mb-0">{{ lote.user }}</p>
                            </div>
                            <div class="col-md-6">
                                <p class="fw-bold text-primary fs-4 mb-1">Contato:</p>
                                <p class="fs-5 mb-0">{{ lote.telefone_user }}</p>
                            </div>
                        </div>

                        <hr class="my-4"/>

                        <div class="row text-center">
                            <div class="col-md-3">
                                <a href="{% url 'listar-quadras' lote.quadra.empr_id %}"
                                   class="btn btn-primary text-center text-black py-3 w-50"
                                   aria-label="Exibir todos os lotes">
                                    <label class="form-label fw-bold d-block">Voltar</label>
                                    <p class="mb-0">{{ total }}</p>
                                </a>
                            </div>
                            {% if user.is_authenticated and user.tipo_usuario == "A" %}
                                <div class="col-md-3">
                                    <a class="btn btn-danger text-center text-black py-3 w-50"
                                            name="pre-reserva"
                                            data-cliente-id="{{ lote.id }}"
                                            data-bs-toggle="modal"
                                            data-bs-target="#preReservaModalDelete"
                                            title="Excluir Reserva"
                                            aria-label="Detalhes da Reserva">
                                        <label class="form-label fw-bold d-block">Cancelar</label>
                                    </a>

                                </div>
                                <div class="col-md-3">
                                    <a href="{% url 'renova-lote-pre-reserva' lote.id %}"
                                       class="btn btn-warning text-center text-black py-3 w-50"
                                       aria-label="Exibir todos os lotes">
                                        <label class="form-label fw-bold d-block">Renovar</label>
                                        <p class="mb-0">{{ total }}</p>
                                    </a>
                                </div>
                            {% endif %}
                            <div class="col-md-3">
                                <a href="{% url 'reserva-create' lote.id %}"
                                   class="btn btn-success text-center text-black py-3 w-50"
                                   aria-label="Exibir todos os lotes">
                                    <label class="form-label fw-bold d-block">Reservar</label>
                                    <p class="mb-0">{{ total }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="preReservaModalDelete" tabindex="-1" aria-labelledby="preReservaModalDelete"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clienteModalLabel">Detalhes da Reserva</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <strong>Empreendimento:</strong>
                            <span>{{ lote.quadra.empr.nome }}</span>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-6">
                            <strong>Quadra:</strong>
                            <span>{{ lote.quadra }}</span>
                        </div>
                        <div class="col-6">
                            <strong>Lote:</strong>
                            <span>{{ lote }}</span>
                        </div>
                    </div>
                    </br>
                    <p>
                        <strong>Corretor:</strong>
                        <span>{{ lote.user }}</span>
                    </p>
                    <p>
                        <strong>Vencimento da Reserva:</strong>
                        <span>{{ lote.data_termina_reserva }}</span>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'cancela-lote-pre-reserva' lote.id %}" class="btn btn-danger">deletar</a>
                    <button type="button" href="{% url 'lista-pre-reserva' %}" class="btn btn-secondary"
                            data-bs-dismiss="modal">Canselar
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
