{% extends 'base.html' %}

{% block title %}
    Detalhe do Empreendimento
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-4" xmlns="http://www.w3.org/1999/html">
        <div class="row align-items-center g-4">
            <hr/>

            <!-- Formulário -->
            <div class="col-lg-10 mx-auto alert-items-center">
                <div class="card p-4 shadow">

                    <h4 class="mb-3 text-center fw-bold">Detalhes</h4>
                    <h5 class="mb-3 text-center fw-bold">{{ empreendimento.nome }}</h5>

                    <div class="container text-center">
                        <div class="row">

                            <div class="col-lg-6 g-4">
                                <div class="row g-3">
                                    {% if empreendimento.logo %}
                                        <div class="image-container">
                                            <img src="{{ empreendimento.logo.url }}" alt="{{ empreendimento.nome }}"
                                                 class="card-img-top">
                                        </div>
                                    {% endif %}

                                    <!-- Seletor de corretor -->
                                    <form action="" method="get">
                                        <label for="typeFilter" class="form-label fw-bold">Selecione o Usuário</label>
                                        <select name="user" id="typeFilter" class="form-select text-center"
                                                onchange="this.form.submit()">
                                            <option value=""></option>
                                            {% for usuario in usuarios %}
                                                <option value="{{ usuario.id }}"
                                                        {% if request.GET.user == usuario.id|stringformat:"s" %}selected{% endif %}>
                                                    {{ usuario.first_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </form>

                                    <!-- Botão para adicionar corretor selecionado -->
                                    {% if request.GET.user %}
                                        <form method="get" action="{% url 'criar-usuario-empreendimento' %}">
                                            <input type="hidden" name="user" value="{{ request.GET.user }}">
                                            <input type="hidden" name="empreendimento" value="{{ empreendimento.id }}">
                                            <button type="submit" class="btn btn-secondary w-100 text-center py-3 mt-2">
                                                <label class="form-label fw-bold d-block mb-0">Adicionar
                                                    Corretor</label>
                                            </button>
                                        </form>
                                    {% else %}
                                        <p class="text-center text-danger">Selecione um usuário para adicionar ao
                                            empreendimento.</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-lg-6 g-4">
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold d-block">Lotes Livres</label>
                                        <div class="btn btn-success text-center py-3 w-100">
                                            <p class="mb-0">{{ livre }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold d-block">Lotes Reservados</label>
                                        <div class="btn btn-warning text-center py-3 w-100 botao-quadra-reservada">
                                            <p class="mb-0">{{ reserva }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold d-block">Lotes Vendidos</label>
                                        <div class="btn btn-primary text-center py-3 w-100 botao-quadra-vendida">
                                            <p class="mb-0">{{ vendido }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold d-block">Outros Lotes</label>
                                        <div class="btn btn-secondary text-center py-3 w-100">
                                            <p class="mb-0">{{ outros }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label fw-bold d-block">Total de Lotes</label>
                                        <div class="btn btn-dark text-center py-3 w-100">
                                            <p class="mb-0">{{ total }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <table class="table table-striped text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Usuario ou E-mail</th>
                                    <th scope="col">Contato</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody class="featurette-heading fw-normal lh-1">
                                {% for corretore in corretores %}
                                    <tr>
                                        <td>{{ corretore.usuario.first_name }}</td>
                                        <td>{{ corretore.usuario.email }}</td>
                                        <td>{{ corretore.usuario.contato }}</td>
                                        <td>
                                            <a class="btn btn-danger"
                                               href="{% url 'delete-usuario-empreendimento' corretore.id %}">
                                                <i class="fas fa-window-close" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <hr/>
                            <a href="{% url 'lista-empreendimento-tabela' %}"
                               class="btn mx-auto btn-primary w-50 mt-2">
                                Voltar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
{% endblock %}
