{% extends 'base.html' %}

{% block title %}
    Lista de Quadras
{% endblock %}

{% block content %}
    <div class="container text-center mt-4">
    <h1 class="mb-4">Lista de Quadras</h1>

    <div class="row g-3">
        {% for quadra_info in quadras_info %}
            <div class="col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">
                            <i class=""></i> QUADRA {{ quadra_info.quadra.namequadra }}
                        </h5>
                    </div>
                    <div class="card-body d-flex flex-wrap gap-2 justify-content-center">
                        {% for lote_info in quadra_info.lotes %}
                            {% if lote_info.situacao == 'DISPONIVEL' %}
                                <a href="{% url 'reserva-create' lote_info.lote.id %}">
                                    <button type="button" class="btn btn-success">
                                        <i class="fa-solid fa-2x"></i> {{ lote_info.lote.lote }}
                                    </button>
                                </a>
                            {% elif lote_info.situacao == 'RESERVADO' %}
                                <button type="button" class="btn btn-warning">
                                    <i class="fa-solid fa-2x"></i> {{ lote_info.lote.lote }}
                                </button>
                            {% elif lote_info.situacao == 'VENDIDO' %}
                                <a href="{% url 'reservado' lote_info.lote.id %}">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa-solid fa-2x"></i> {{ lote_info.lote.lote }}
                                    </button>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <ul class="pagination justify-content-center mt-4">
        <li class="page-item">
            {% if quadras_info.has_previous %}
                <a class="btn btn-primary" href="?page={{ quadras_info.previous_page_number }}">Voltar</a>
            {% endif %}
        </li>
        {% if quadras_info.paginator.num_pages %}
            <li class="page-item">
                <span class="page-link">{{ quadras_info.number }} de {{ quadras_info.paginator.num_pages }}</span>
            </li>
        {% endif %}
        <li class="page-item">
            {% if quadras_info.has_next %}
                <a class="btn btn-primary" href="?page={{ quadras_info.next_page_number }}">Avançar</a>
            {% endif %}
        </li>
    </ul>
</div>

{% endblock %}
