{% extends 'base.html' %}

{% block title %}
    LISTA
{% endblock %}

{% block content %}
    <div class="container my-auto mb-md-5 mt-md-4 pb-5">
    <div class="card shadow-sm">
        <div class="container-fluid">
            <div class="card-header pt-5 pb-5 bg-primary"></div>

            <div class="card-body">
                <div class="card_servico">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 py-4">
                        {% for empreendimento in empreendimentos %}
                        <div class="col">
                            <div class="card h-100 shadow">
                                {% if empreendimento.logo %}
                                    <div class="image-container">
                                        <img src="{{ empreendimento.logo.url }}" alt="{{ empreendimento.nome }}" class="card-img-top">
                                    </div>
                                {% endif %}
                                <div class="card-body text-center">
                                    <h5 class="m-0">{{ empreendimento.nome }}</h5>
                                    <hr />
                                    <div class="d-grid gap-2">
                                        <a href="{% url 'listar-quadras' empreendimento.id %}" class="btn btn-primary">Acessar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
