{% extends 'base.html' %}

{% block title %}
    Lista de Reserva
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <h4 class="mt-4 text-center">GERENCIAMENTO DE PRE-RESERVAS</h4>
        <hr>

        <!-- Filtros -->
        <div class="row g-3 align-items-center bg-light p-2 rounded shadow mb-4">
            <!-- Pesquisar pelo empreendimento -->
            <div class="col-md-3">
                <label for="reservaSearch" class="form-label">Nome do Cliente ou Corretor</label>
                <form class="d-flex" action="{% url 'lista-reserva' %}">
                    <input name="reserva" id="reservaSearch" type="search" class="form-control me-2"
                           placeholder="Digite sua pesquisa..." value="{{ request.GET.reserva }}">
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>


            <!-- Filtro de tipo-->
            <div class="col-md-3">
                <label for="typeFilter" class="form-label">Empreendimento</label>
                <form action="">
                    <select name="tipo_empreendimento" id="typeFilter" class="form-select"
                            onchange="this.form.submit()">
                        <option value="">Status</option>
                        {% for lote in lotes %}
                            <option value={{ empreendimento.id }} {% if request.tipo_empreendimento == '{{ empreendimento.id }}' %}selected{% endif %}>
                                {{ empreendimento.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>

            <!-- Filtro de tipo-->
            <div class="col-md-2">
                <label for="typeFilter" class="form-label">RESERVAS OU VENDAS</label>
                <form action="">
                    <select name="tipo_venda" id="typeFilter" class="form-select" onchange="this.form.submit()">
                        <option value="">Status</option>
                        <option value="PRE-RESERVADO"
                                {% if request.GET.tipo_venda == 'PRE-RESERVADO' %}selected{% endif %}>
                            Reservados
                        </option>
                        <option value="CANCELADA" {% if request.GET.tipo_venda == 'CANCELADA' %}selected{% endif %}>
                            Reservas Canceladas
                        </option>
                    </select>
                </form>
            </div>

            <!-- Filtro de datapython
            <div class="col-md-3 text-center ">
                <label class="form-label">Datas reserva</label>

                <form class="d-flex align-items-center  justify-content-center gap-2" action="">
                    <div>
                        <input name="reserva" type="date" value="{{ request.GET.reserva }}" class="form-control">
                    </div>
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fas fa-filter"></i>
                    </button>
                </form>
            </div>


            Filtro de data
            <div class="col-md-3 text-center ">
                <label class="form-label">Datas reserva</label>
                <form class="d-flex align-items-center  justify-content-center gap-2" action="">

                    <div>
                        <input name="venda" type="date" value="{{ request.GET.venda }}" class="form-control">
                    </div>
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="fas fa-filter"></i>
                    </button>
                </form>
            </div>
            <!-- Filtro de status
            <div class="col-md-2">
                <label for="statusFilter" class="form-label">Status Locação</label>
                <form action="">
                    <select name="is_locate" id="statusFilter" class="form-select" onchange="this.form.submit()">
                        <option value="">Todos</option>
                        <option value="True" {% if request.GET.is_locate == 'True' %}selected{% endif %}>Locado</option>
                        <option value="False" {% if request.GET.is_locate == 'False' %}selected{% endif %}>Não Locado
                        </option>
                    </select>
                </form>
            </div>-->

            <!-- Resetar filtros -->
            <div class="col-md-1">
                <label for="idReset" class="form-label">Resetar</label>
                <a class="btn btn-danger" href="{% url 'lista-reserva' %}">
                    <i class="fas fa-window-close"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="row g-3 align-items-center bg-light p-4 rounded shadow mb-4">
            <div class="table-responsive">
                <table class="table table-striped-columns table-bordered table-sm text-center">
                    <thead>
                    <tr>
                        <th scope="col">Loteamento</th>
                        <th scope="col">Quadra</th>
                        <th scope="col">Lote</th>
                        <th scope="col">Corretor</th>
                        <th scope="col">Vencimento da Reserva</th>
                        <th scope="col">Comandos</th>
                    </tr>
                    </thead>

                    <tbody class="featurette-heading fw-normal lh-1">
                    {% for lote in page_obj %}
                        <tr>
                            <td>{{ lote.quadra.empr.nome }}</td>
                            <td>{{ lote.quadra }}</td>
                            <td>{{ lote }}</td>
                            <td>{{ lote.user }}</td>
                            <td>{{ lote.data_termina_reserva }}</td>

                            <td>
                                <div class="row g-2">
                                    <div class="col-6 col-md-3">
                                        <a href="{% url 'renova-lote-pre-reserva' lote.id %}"
                                           class=" btn btn-warning w-auto h-auto text-wrap text-center"
                                           title="Renova
                                        Reserva" data-bs-toggle="tooltip"
                                           aria-label="Renova
                                        Reserva">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <a href="{% url 'reserva-create' lote.id %}"
                                           class=" btn btn-success w-auto h-auto text-wrap text-center"
                                           title="Confirmar Venda" data-bs-toggle="tooltip"
                                           aria-label="Confirmar Venda">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <a href="{% url 'cancela-lote-pre-reserva' lote.id %}"
                                           class=" btn btn-danger w-auto h-auto text-wrap text-center"
                                           title="Excluir Reserva" data-bs-toggle="tooltip"
                                           aria-label="Excluir Reserva">
                                            <i class="fas fa-window-close"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <ul class="pagination justify-content-center mt-4">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="btn btn-primary"
                                   href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Página anterior">
                                    Voltar
                                </a>
                            {% endif %}
                        </li>

                        <li class="page-item">
                                 <span class="page-link">
                                      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                                 </span>
                        </li>

                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="btn btn-primary"
                                   href="?page={{ page_obj.next_page_number }}"
                                   aria-label="Próxima página">
                                    Avançar
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
