{% extends 'base.html' %}

{% block title %}
    Altera Empreendimento
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row align-items-center g-4">
            <hr/>
            <!-- Imagem -->
            <div class="col-lg-6">
                <img src="{% static 'images/carlos.jpg' %}" class="img-fluid rounded shadow" alt="Imóvel"/>
            </div>

            <!-- Formulário -->
            <div class="col-lg-6">
                <form action="{% url 'alterar-empreendimento' empreendimento.id %}" method="post"
                      enctype="multipart/form-data">
                <h4 class="mb-3 text-center">Cadastrar Empreendimento</h4>

                {% if status == '0' %}
                    <div class="alert alert-success" role="alert">Cliente cadastrado com sucesso</div>
                {% elif status == '1' %}
                    <div class="alert alert-danger" role="alert">Preencha o nome</div>
                {% elif status == '2' %}
                    <div class="alert alert-danger" role="alert">Preencha o e-mail corretamente</div>
                {% elif status == '3' %}
                    <div class="alert alert-danger" role="alert">Preencha o contato</div>
                {% endif %}
                <hr/>
                {% csrf_token %}
                {{ form.as_p }}
                <hr/>

                <button type="submit" class="btn btn-primary w-100 mt-3">Salvar</button>

                <button class="btn btn-primary w-100 mt-3">Canselar</button>
                </form>
            </div>
            <hr/>
        </div>
    </div>
{% endblock %}
