* {
  box-sizing: border-box;
}

/* Custom styles for light and dark modes */
body[data-bs-theme="light"] {
    background-color: #ffffff;
    color: #000000;

}

body {
    overflow: hidden;
}

body[data-bs-theme="dark"] {
    background-color: #121212;
    color: #ffffff;
}

.card_servico {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgb(2, 88, 187) ;
}

.gradient-custom {
    background: linear-gradient(to top, rgb(3, 107, 145), rgb(255, 255, 255));
}

.gradient-custom-dark {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(48, 48, 48));
}

#chosen-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.navbar {
    background-color: rgb(3, 107, 145);
}

.seletor-para-algum-widget {
  box-sizing: border-box;
}

/*.btn-warning {

      background-color: #dc3545 !important;

}*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-conteudo {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

