{% extends 'base.html' %}


{% block title %}
    Cadastro
{% endblock %}

{% load static %}

{% block content %}
    <h1>Teste usuario em preendedor</h1>
    <div class="container mt-4">
        <h4 class="mt-4 text-center">CADASTRAR USUARIOS EM EMPREENDIMENTOS</h4>
        <hr>

        <!-- Filtros -->
        <div class="row g-3 align-items-center bg-light p-4 rounded shadow mb-4">
            <div class="col-md-6">
                <a href="{% url 'criar-empreendimento' %}" class="btn btn-primary md-4">
                    Adicionar Empreendimento
                </a>
            </div>
            <!-- Pesquisar pelo empreendimento -->
            <div class="col-md-5">
                <label for="empreendimentoSearch" class="form-label">Nome do Empreendimento</label>
                <form class="d-flex" action="{% url 'lista-empreendimento-tabela' %}">
                    <input name="empreendimento" id="empreendimentoSearch" type="search" class="form-control me-2"
                           placeholder="Pesquisar Empreendimento..." value="{{ request.GET.empreendimento }}">
                    <button class="btn btn-success" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <!-- Resetar filtros -->
            <div class="col-md-1">
                <label for="idReset" class="form-label">Resetar</label>
                <a class="btn btn-danger" href="{% url 'lista-empreendimento-tabela' %}">
                    <i class="fas fa-window-close"></i>
                </a>
            </div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Dias de Reserva</th>
                    <th scope="col">Lotes Disponível</th>
                    <th scope="col">Lotes Reservados</th>
                    <th scope="col">Lotes Vendidos</th>
                    <th scope="col">Outras Situações</th>
                    <th scope="col">Total de Lotes</th>
                    <th scope="col"></th>

                </tr>
                </thead>

                <tbody class="featurette-heading fw-normal lh-1">
                {% for empreendimento in empreendimentos %}
                    <tr>
                        <td>{{ empreendimento.id }}</td>
                        <td>{{ empreendimento.nome }}</td>
                        <td>{{ empreendimento.tempo_reserva }}</td>
                        <td>{{ livre }}</td>
                        <td>{{ reservas }}</td>
                        <td>{{ vendidos }}</td>
                        <td>{{ outras }}</td>
                        <td>{{ total }}</td>
                        <td>
                            <a href="{% url 'arquivo' empreendimento.id %}" class="btn btn-success">Arquivo</a>
                            <a href="{% url 'alterar-empreendimento' empreendimento.id %}"
                               class="btn btn-warning">Alterar</a>

                            <button class="btn btn-danger btn-detalhes-empreendimento"
                                    name="empreendimento"
                                    data-id="{{ empreendimento.id }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#empreendimentoModal">
                                Excluir
                            </button>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}
