{% extends 'base.html' %}

{% block title %}
    Lista de Cliente
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <h4 class="mt-4 text-center">LISTA DE CLIENTES</h4>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Contato</th>
            </tr>
            </thead>

            <tbody class="featurette-heading fw-normal lh-1">
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.name }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.fone }}</td>
                    <td>

                        <a href="{% url 'altera-cliente' cliente.id%}" class="btn btn-warning">
                            Alterar
                        </a>
                        <button class="btn btn-danger btn-detalhes"
                                data-id="{{ cliente.id }}"
                                data-bs-toggle="modal"
                                data-bs-target="#clienteModal">
                            Excluir
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>




    <div class="modal fade" id="clienteModal" tabindex="-1" aria-labelledby="clienteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="clienteModalLabel">Detalhes do Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="loading-indicator" style="display: none;">
                        Carregando...
                    </div>
                    <p><strong>ID:</strong> <span id="cliente-id"></span></p>
                    <p><strong>Nome:</strong> <span id="cliente-name"></span></p>
                    <p><strong>Email:</strong> <span id="cliente-email"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btn-deletar-cliente">deletar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
