{% extends 'base.html' %}

{% block title %}
    Altera Cliente
{% endblock %}

{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row align-items-center g-4">
            <hr/>
            <!-- Imagem -->
            <div class="col-lg-6">
                <img src="{% static 'images/carlos.jpg' %}" class="img-fluid rounded shadow" alt="Cliente"/>
            </div>

            <!-- Formulário -->
            <div class="col-lg-6">
                <form action="{% url 'criar-cliente' %}" method="POST" class="card p-4 shadow">
                    {% csrf_token %}
                    <input type="hidden" name="conjuge_json" id="conjuge_json">
                    <input type="hidden" name="endereco_json" id="endereco_json">
                    <input type="hidden" name="telefones_json" id="telefones_json">
                    <h4 class="mb-3 text-center">Cadastrar Cliente</h4>

                    <!-- Mensagens -->
                    {% if status == '0' %}
                        <div class="alert alert-success" role="alert">Cliente cadastrado com sucesso!</div>
                    {% elif status == '1' %}
                        <div class="alert alert-danger" role="alert">Preencha o nome corretamente.</div>
                    {% elif status == '2' %}
                        <div class="alert alert-danger" role="alert">Preencha o e-mail corretamente.</div>
                    {% elif status == '3' %}
                        <div class="alert alert-danger" role="alert">Preencha o telefone corretamente.</div>
                    {% endif %}

                    <hr>

                    <!-- 📌 Duas colunas -->
                    <div class="row">
                        <!-- COLUNA ESQUERDA -->
                        <div class="col-md-6">
                            {% for field in form %}
                                {% if field.field.widget.attrs.col == 'left' %}
                                    <div class="mb-3">

                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- COLUNA DIREITA -->
                        <div class="col-md-6">
                            {% for field in form %}
                                {% if field.field.widget.attrs.col == 'right' %}
                                    <div class="mb-3">

                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <a
                                    class="btn btn-light py-2 w-100 rounded-pill"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalConjuge"
                                    data-bs-toggle="tooltip"
                                    title="Cadastre os Telefones">Cônjuge
                            </a>
                            <br>
                            <br>
                            <a
                                    class="btn btn-secondary py-2 w-100 rounded-pill"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalTelefones"
                                    data-bs-toggle="tooltip"
                                    title="Cadastre os Telefones">Contatos
                            </a>
                            <br>
                            <br>
                            <a
                                    class="btn btn-primary py-2 w-100 rounded-pill"
                                    data-bs-toggle="modal"
                                    data-bs-target="#enderecoModal"
                                    data-bs-toggle="tooltip"
                                    title="Cadastre o Endereço">Endereço
                            </a>
                        </div>
                    </div>

                    <hr>

                    <!-- Botões -->
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success rounded-pill">Salvar</button>
                        {% if veio_da_lista %}
                            <a href="{% url 'lista-cliente' %}" class="btn btn-danger rounded-pill">Cancelar</a>
                        {% else %}
                            <a href="{% url 'lista-empreendimento' %}" class="btn btn-danger rounded-pill">Cancelar</a>
                        {% endif %}

                    </div>
                    {% if lote_id %}
                        <input type="hidden" name="lote_id" value="{{ lote_id }}">
                    {% endif %}

                </form>
            </div>
            <hr/>
        </div>
    </div>

    <!-- Modal do Endereço -->
    <div class="modal fade" id="enderecoModal" tabindex="-1" aria-labelledby="enderecoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cadastro de Endereço</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Mensagens -->
                {% if status == '0' %}
                    <div class="alert alert-success" role="alert">Cliente cadastrado com sucesso!</div>
                {% elif status == '1' %}
                    <div class="alert alert-danger" role="alert">Preencha o nome corretamente.</div>
                {% elif status == '2' %}
                    <div class="alert alert-danger" role="alert">Preencha o e-mail corretamente.</div>
                {% elif status == '3' %}
                    <div class="alert alert-danger" role="alert">Preencha o telefone corretamente.</div>
                {% endif %}

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            {% for field in formEndereco %}
                                {% if field.field.widget.attrs.col == 'left' %}
                                    <div class="mb-3">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-md-6">
                            {% for field in formEndereco %}
                                {% if field.field.widget.attrs.col == 'right' %}
                                    <div class="mb-3">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <p>digite o cep e preencha automatico</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Fechar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal do Conjuge -->
    <div class="modal fade" id="modalConjuge" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cadastrar Cônjuge</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Mensagens -->
                {% if status == '0' %}
                    <div class="alert alert-success" role="alert">Cliente cadastrado com sucesso!</div>
                {% elif status == '1' %}
                    <div class="alert alert-danger" role="alert">Preencha o nome corretamente.</div>
                {% elif status == '2' %}
                    <div class="alert alert-danger" role="alert">Preencha o e-mail corretamente.</div>
                {% elif status == '3' %}
                    <div class="alert alert-danger" role="alert">Preencha o telefone corretamente.</div>
                {% endif %}

                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            {% for field in formConjuge %}
                                {% if field.field.widget.attrs.col == 'left' %}
                                    <div class="mb-3">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="col-md-6">
                            {% for field in formConjuge %}
                                {% if field.field.widget.attrs.col == 'right' %}
                                    <div class="mb-3">
                                        {{ field }}
                                        {% if field.errors %}
                                            <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal do Telefone -->
    <!-- Modal do Telefone -->
    <div class="modal fade" id="modalTelefones" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Cadastrar Contatos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Mensagens -->
                    {% if status == '0' %}
                        <div class="alert alert-success" role="alert">Cliente cadastrado com sucesso!</div>
                    {% elif status == '1' %}
                        <div class="alert alert-danger" role="alert">Preencha o nome corretamente.</div>
                    {% elif status == '2' %}
                        <div class="alert alert-danger" role="alert">Preencha o e-mail corretamente.</div>
                    {% elif status == '3' %}
                        <div class="alert alert-danger" role="alert">Preencha o telefone corretamente.</div>
                    {% endif %}

                    <div class="modal-body">

                        <!-- MANAGEMENT FORM (obrigatório para formsets) -->
                        {{ formTelefone.management_form }}

                        <div class="row g-2">
                            {% for form in formTelefone %}
                                <div class="col-12 col-md-4">
                                    {% for field in form.visible_fields %}
                                        <div class="mb-3">
                                            {{ field.label_tag }} {{ field }}
                                            {% if field.errors %}
                                                <div class="invalid-feedback d-block">{{ field.errors|striptags }}</div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    {% if form.DELETE %}
                                        <div class="form-check mb-3">
                                            {{ form.DELETE }} <label class="form-check-label">Excluir?</label>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <!-- BOTÃO ADD -->
                            <div class="col-12 col-md-4 d-flex align-items-start">
                                <button type="button" class="btn btn-success py-2 w-100 rounded-pill"
                                        onclick="addTelefone()">
                                    ADD
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Salvar Telefones</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    

{% endblock %}
